.section {
  /*Sets the height and width of the section */
  width: 200px;
  height: 200px;
}

/*.box-green {

  
  background-color: green;
}*/

.box-blue {
  /* Sets font color */
  color: white;
  /* Sets background color */
  background-color: #0000ff;
}

.box-orange {
  /* Uses hex codes to define color */
  color: #0000ff;
  background-color: #ffa500;
}

/*depending on which is defined last*/
/*.box-green {
  
  background-color: green;
}*/

.box-black {
  /* Uses predefined colors to define color */
  
  background-color: black;
}



#box-yellow {
  /* Uses predefined colors to define color */
  color: purple;
  background-color: yellow;
};
